[bB]In/
[Oo]bj/
packages/
node_modules/
jspm_packages/
build.js*

*.suo
*.user

*.orig

*.dbmdl

*.jfm

.vs/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.jfm

.idea/
librdkafka/
